@import "../../styles/variables.css";


.hero-wrapper{
    min-width: 100vw;
    background-color: var(--primary-color);
    margin-left: var(--container-negative-margin-desktop);
    margin-right: var(--container-negative-margin-desktop);
    padding-left: var(--container-padding-desktop);
    padding-right: var(--container-padding-desktop);
}

@media only screen and (max-width: 480px){
    .hero-wrapper{
        margin-left: var(--container-negative-margin-mobile);
        margin-right: var(--container-negative-margin-mobile);
        padding-left: var(--container-padding-mobile);
        padding-right: var(--container-padding-mobile);
    }
}

.hero-container{
    display: flex;
    height: clamp(768px, 100vh, 100vh);
    position: relative;
    align-items: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px)
{
    .hero-container{
        flex-direction: column-reverse;
        justify-content: center;
        margin-left: var(--container-negative-margin-mobile);
        margin-right: var(--container-negative-margin-mobile);
        padding-left: var(--container-padding-mobile);
        padding-right: var(--container-padding-mobile);
    }
}

@media only screen and (max-width: 480px)
{
    .hero-container{
        height: clamp(680px, 100vh, 100vh);
    }
}

.hero-heading-container{
    display: block;
    min-width: 50%;
}

@media only screen and (max-width: 480px)
{
    .hero-heading-container{
        justify-content: center;
        padding-bottom: 30px;
    }
}

.hero-heading{
    color: var(--primary-text-color);
    font-size: 98px;
    line-height: 1.2;
}

@media only screen and (max-width: 1400px)
{
    .hero-heading{
        font-size: 82px;
    }
}

@media only screen and (max-width: 480px)
{
    .hero-heading{
        font-size: 56px;
        line-height: 1.1;
    }
}

.greeting{
    /*color: #DFD3F7;*/
    animation-name: opacityUp;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes opacityUp{
    0%{
       opacity: 0;
    }1%{
        opacity: 0;
    }6%{
       opacity: 100%;
    }89%{
        opacity: 100%;
    } 99%{
        opacity: 0;
    }100%{
        opacity: 0;
    }
}

.hero-animation-container{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
    flex-grow: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

@media only screen and (max-width: 768px){ 
    .hero-animation-container{
        justify-content: flex-start;
        height: auto;
        position: relative;
    }  
}

.text-bright-green{
    color: #95F8C6;
}