:root{
   --primary-color: #05C6FD;
   --sky-blue-crayola: #6CE3CF;
   --light-blue: #c9ffff;
   --bright-green: #60F289;

   --blue-jeans: #5BC3F6;
   --french-sky-blue: #82A5F6;
   --baby-blue-eyes: #A9C3F6;
   --iceberg: #70BDD1;
   --pink: pink;

   --container-padding-desktop: 100px;
   --container-negative-margin-desktop: -100px;

   --container-padding-mobile: 20px;
   --container-negative-margin-mobile: -20px;
}