@import "../../styles/variables.css";
@import "../../styles/style.css";

body{
    background-color: var(--primary-color);
}

.container{
    padding-left: var(--container-padding-desktop);
    padding-right: var(--container-padding-desktop);
    overflow-x: hidden;
}

@media only screen and (max-width: 480px)
{
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navbar-container{
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0px;
    transition: top 0.3s;
    width: calc(100% - 200px);
    z-index: 1;
}

@media only screen and (max-width: 1800px){
    .navbar-container{
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 1024px){
    .navbar-container{
        background-color: var(--primary-color);
        justify-content: center;
        margin-left: var(--container-negative-margin-desktop);
        width: 100vw;
    }
}

@media only screen and (max-width: 480px){
    .navbar-container{
        margin-left: var(--container-negative-margin-mobile);
    }
}

.navbar-container-full-height{
    height: 100vh;
}

.navbar-links{
    display: flex;
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 1024px){
    .navbar-links{
        display: none;
        padding-top: 100px;
        justify-content: flex-start;
        padding-inline-start: 0;
    }
}

.nav-opened{
    display: flex;
    flex-direction: column;
}

.navbar-link-item{
    font-weight: 700;
    margin-left: 80px;
    font-size: 18px;
    transition: font-size 0.3s, background-color 0.2s;
    background-color: #c9ffff;
    cursor: pointer;
}

.navbar-link-item:hover{
    background-color: pink;
}

.navbar-link-item:active{
    background-color: #333333;
}

@media only screen and (max-width: 1024px){
    .navbar-link-item{
        background-color: transparent;
        font-size: 36px;
        margin-left: 0;
    }
}

.navbar-at-the-top{
    font-size: 28px;
    background-color: transparent;
}

@media only screen and (max-width: 1400px){
    .navbar-at-the-top{
        font-size: 24px;
    }
}

@media only screen and (max-width: 1024px){
    .navbar-at-the-top{
        font-size: 36px;
    }
}

.navbar-link{
    display: block;
    color: #333333;
    text-decoration: none; 
    padding: 10px 20px;
}

.navbar-link:active{
    color: pink;
}

.menu-button{
    cursor: pointer;
    display: none;
    width: 60px;
    background-color: transparent;
    border: none;
    position: fixed;
    top: 30px;
    right: 30px;
    transition: top 0.4s;
}

@media only screen and (max-width: 1024px){
    .menu-button{
        display: block;
        z-index: 2;
    }
}

.menu-icon{
    stroke: #333333;
    stroke-linecap: round;
    stroke-width: 2px;
    vertical-align: top;
}

.close-button{
    display: none; 
    width: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
}

@media only screen and (max-width: 1024px){
    .close-button{
        display: block;
    }
}

.close-icon{
    stroke: #333333;
    stroke-linecap: round;
    stroke-width: 2px;
    vertical-align: top;
}

.item-hidden{
    top: -100px;
    transition: top 0.4s;
}

.hero-container{
    display: flex;
    height: 100vh;
    position: relative;
    align-items: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px)
{
    .hero-container{
        flex-direction: column-reverse;
        justify-content: center;
    }
}

.hero-heading-container{
    display: block;
    min-width: 50%;
}

@media only screen and (max-width: 480px)
{
    .hero-heading-container{
        justify-content: center;
        padding-bottom: 30px;
    }
}

.hero-heading{
    font-size: 98px;
    line-height: 1.2;
}

@media only screen and (max-width: 1400px)
{
    .hero-heading{
        font-size: 82px;
    }
}

@media only screen and (max-width: 480px)
{
    .hero-heading{
        font-size: 56px;
        line-height: 1.1;
    }
}

.greeting{
    animation-name: opacityUp;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes opacityUp{
    0%{
       opacity: 0;
    }1%{
        opacity: 0;
    }6%{
       opacity: 100%;
    }89%{
        opacity: 100%;
    } 99%{
        opacity: 0;
    }100%{
        opacity: 0;
    }
}

.hero-animation-container{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
    flex-grow: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

@media only screen and (max-width: 480px){ 
    .hero-animation-container{
        justify-content: flex-start;
        height: auto;
        position: relative;
    }  
}

.illustration-container{
    position: relative;
    right: 0;
    min-width: 400px;
    width: 80%;
    max-width: 100%;
}

@media only screen and (max-width: 1800px){ 
    .illustration-container{
         max-width: 500px;
         right: 0;
}   }

@media only screen and (max-width: 1400px){ 
    .illustration-container{
         right: 0;
         max-width: 400px;
    }  
}

@media only screen and (max-width: 1024px){ 
    .illustration-container{
         min-width: 240px;
         max-width: 240px;
    }  
}

@media only screen and (max-width: 480px){ 
    .illustration-container{
         position: relative;
         top: 0;
         left: 15px;
         min-width: 160px;
         max-width: 160px;
    }  
}

.illustration-base-container{
    position: relative;
    width: 100%;
    padding-top: 133.33%
}

@media only screen and (max-width: 1024px){ 
    .illustration-base-container{
        padding-top: 177.78%;
    } 
}

.illustration-base-shadow{
  position: absolute;
  background-color: var(--iceberg);
  top: 0;
  left:-14px;
  width: 100%;
  height: 100%;
  border-radius: 45px;
  z-index: -1;
}

.illustration-base{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--sky-blue-crayola);
    border-radius: 45px;
}

.base-content-container{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 45px;
    padding: 6% 5%;
}

@media only screen and (max-width: 480px){
    .base-content-container{
        padding: 16px 16px;
    }
}

.content-row{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 26%;
}

@media only screen and (max-width: 480px){
    .content-row{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 480px){
    .row-flipped-on-mobile{
        flex-direction: column;
    }
}



.content-row-justify-end{
    justify-content: flex-end;
}

.rectangle{
    background-color:azure;
    border-radius: 30px;
    width: 50%;
    height: 100%;
}

@media only screen and (max-width: 480px){
    .rectangle{
        width: 100%;
    }
}

.circle-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 20%;
    padding-top: 20%;
}


@media only screen and (max-width: 480px){
    .circle-container{
        width: 86%;
        padding-top: 86%;
    }
}

@media only screen and (max-width: 480px){
    .not-displayed-on-mobile{
        display: none;
    }
}
.displayed-on-mobile{
    display: none;
}

@media only screen and (max-width: 480px){
    .displayed-on-mobile{
        display: block;
    }
}

.circle{
    background-color: chartreuse;
    border-radius: 50%;
    width: 100%;
    padding-top: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.bg-circle{
    background-color: chartreuse;
    border-radius: 50%;
    position: absolute;
}

.introduction-circle{
    width: 480px;
    height: 480px;
    top: -14vh;
    left: 190px;
    z-index: -1;
    transition: top 1s, left 1s, width 1s, height 1s;
}

@media only screen and (max-width: 1800px){
    .introduction-circle{
        top: -15vh;
        width: 380px;
        height: 380px;
    }
}

@media only screen and (max-width: 1400px){
    .introduction-circle{
        top: -18vh;
        width: 340px;
        height: 340px;
    }
}


@media only screen and (max-width: 1400px){
    .introduction-circle{
        top: -160px;
        left: -100px;
        width: 310px;
        height: 310px;
    }
}

.introduction-tiny-circle{
    width: 30px;
    height: 30px;
    top: -175px;
    right: 90px;
    z-index: -1;
    transition: top 1s, left 1s, width 1s, height 1s;
}

.introduction-bottom-circle{
    width: 500px;
    height: 500px;
    bottom: -18vh;
    right: 8vw;
    z-index: -1;
    transition: bottom 1s, right 1s, width 1s, height 1s;
}

@media only screen and (max-width: 1800px){
    .introduction-bottom-circle{
        width: 420px;
        height: 420px;
        bottom: -18vh;
        right: 6vw;
    }
}

@media only screen and (max-width: 1400px){
    .introduction-bottom-circle{
        width: 380px;
        height: 380px;
        bottom: -26vh;
        right: 2vw;
    }
}

@media only screen and (max-width: 480px){
    .introduction-bottom-circle{
        width: 380px;
        height: 380px;
        bottom: -26vh;
        right: -100px;
    }
}

.flipped-on-mobile{
    height: 100%;
}
@media only screen and (max-width: 480px){
    .flipped-on-mobile{
        display: flex;
        position: relative;
        width: 100%;
        height: 200%;
    }
}

.tech-stack-banner-wrapper{
    background-color: #C9FFFF;
    margin-left: var(--container-negative-margin-desktop);
    margin-right: var(--container-negative-margin-desktop);
}
.tech-stack-banner-container{
    align-items: center;
    display: flex;
    position: relative;
    height: 160px;
    margin-left: var(--container-negative-margin-desktop);
    margin-right: var(--container-negative-margin-desktop);
    width: 200%;
    animation-name: infinite-carousel;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@media only screen and (max-width: 480px){
    .tech-stack-banner-container{
        margin-left: var(--container-negative-margin-mobile);
        margin-right: var(--container-negative-margin-mobile);
        width: 400%;
    }
}

.tech-stack-banner{
    display: flex;
    position: relative;
    list-style-type: none;
    justify-content: space-around;
    min-width: calc(50% + 200px);
    padding: 0;
}

@media only screen and (max-width: 480px){
    .tech-stack-banner{
        min-width: calc(50% + 40px);
    }
}

@keyframes infinite-carousel{
    from {
        left: 0;
    } to {
        left: calc(-100% - 200px);
    }
}
@media only screen and (max-width: 480px){
    @keyframes infinite-carousel{
        from {
            left: 0;
        } to {
            left: calc(-200% - 40px);
        }
    }
}

.banner-image-wrapper{
    width: auto;
    height: 80px;
    opacity: 0.8;
}

.banner-image-wrapper .banner-image{
    object-fit: contain;
    height: 80px;
    width: auto;
}

.decoration{
    height: 100px;
}

.introduction-container{
    display: flex;
    justify-content: center;
    height: 120vh;
    position: relative;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.introduction{ 
  display: flex;
  position: relative;
  align-items: center;
}

.intro-image-container{
    position: absolute;
    width: 135px;
    height: 135px;
    top:  -30%;
    right: -18%;
    z-index: -1;
    background-color: pink;
    border-radius: 100px;
    overflow: hidden;
}

@media only screen and (max-width: 1800px){
    .intro-image-container{
        top:  -30%;
        right: -22%;
    }
}

@media only screen and (max-width: 1400px){
    .intro-image-container{
        top:  -25%;
        right: -18%;
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 480px){
    .intro-image-container{
        top:  -120px;
        right: 50%;
        transform: translateX(50%);
        width: 100px;
        height: 100px;
    }
}

.bendy-line{
    position: absolute;
    left: 4vw;
    top: 50vh;
    width: 180px;
    height: 938.38px;
    stroke:#666666;
    stroke-width: 10px;
    stroke-linecap: round;
}

@media only screen and (max-width: 1800px){
    .bendy-line{
        left: 2vw;
        top: 48vh;
        width: 136px;
        height: 709px;
    }
}

@media only screen and (max-width: 1400px){
    .bendy-line{
        left: 0;
        top: 48vh;
        stroke-width: 8px;
        width: 136px;
        height: 709px;
    }
}

@media only screen and (max-width: 1024px){
    .bendy-line{
        display: none;
    }
}

.service-container{
    display: flex;
    justify-content: center;
    height: 110vh;
    position: relative;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.service{
    display: flex;
    position: relative;
    align-items: center;
}

.service-list{
    list-style-type: none;
    padding-left: 0;
}

.wiggly-underline{
    text-decoration-line: underline;
    text-decoration-color: pink;
    text-decoration-style: wavy;
    text-decoration-thickness: 8px;
}

.underline{
    text-decoration-line: underline;
    text-decoration-color: pink;
    text-decoration-thickness: 8px;
    text-underline-offset: 20px;
}


@media only screen and (max-width: 480px){
    .underline{
        text-underline-offset: 13px;
    }
}

.text-container{
    position: relative;
}

@media only screen and (max-width: 480px){
    .text-container{
        padding-left: 0;
    }
}

.text{
    font-size: 74px;
    font-weight: 400;
}

@media only screen and (max-width: 1800px){
    .text{
        font-size: 60px;
    }
}

@media only screen and (max-width: 480px){
    .text{
        font-size: 40px;
    }
}

.decoration-block{
    position: relative;
    height: 30vh;
}

.decoration-big-circle{
  height: 600px;
  width: 600px;
  bottom: -6vh;
  right: -15vw;
  z-index: -1;
}

@media only screen and (max-width: 1800px){
    .decoration-big-circle{
        height: 560px;
        width: 560px;
        right: -16vw;
        bottom: -14vh;
    }
}

@media only screen and (max-width: 1400px){
    .decoration-big-circle{
        height: 500px;
        width: 500px;
        right: -16vw;
        bottom: -12vh;
    }
}

@media only screen and (max-width: 480px){
    .decoration-big-circle{
        height: 350px;
        width: 350px;
        right: -160px;
        bottom: -180px;
    }
}

.decoration-small-circle{
  height: 110px;
  width: 110px;
  left: 5vw;
  top: -25vh;
}

@media only screen and (max-width: 1800px){
    .decoration-small-circle{
        left: 4vw;
        top: -12vh;
    }
}

@media only screen and (max-width: 1400px){
    .decoration-small-circle{
        height: 80px;
        width: 80px;
        left: 2vw;
        top: -14vh;
    }
}

@media only screen and (max-width: 480px){
    .decoration-small-circle{
        top: -22vh;
    }
}

.decoration-tiny-circle{
  height: 50px;
  width: 50px;
  left: 12vw;
  top: -10vh;
}

@media only screen and (max-width: 1800px){
    .decoration-tiny-circle{
        left: 14vw;
        top: 4vh;
    }
}

@media only screen and (max-width: 1400px){
    .decoration-tiny-circle{
        height: 30px;
        width: 30px;
        left: 12vw;
        top: 0;
    }
}

@media only screen and (max-width: 480px){
    .decoration-tiny-circle{
        height: 30px;
        width: 30px;
        left: 22vw;
        top: -12vh;
    }
}

.portfolio-item{
    position: relative;
    margin-bottom: 300px;
}

@media only screen and (max-width: 480px){
    .portfolio-item{
        margin-bottom: 100px;
    }
}

.top-polygon{
    position: absolute;
    top: 0px;
    width: 120vw;
    height: 500px;
    background-color: yellow;
    margin-left: var(--container-negative-margin-desktop);
    margin-right: var(--container-negative-margin-desktop);
    transform: rotate(0);
    transform-origin: top left;
    z-index: -1;
    transition: transform 0.05s;
}

@media only screen and (max-width: 480px){
    .top-polygon{
        margin-left: var(--container-negative-margin-mobile);
        margin-right: var(--container-negative-margin-mobile);
        width: 130vw;
    }
}

.bottom-polygon{
    position: absolute;
    bottom: -300px;
    width: calc(100vw);
    height: 600px; 
    background-color: greenyellow;
    margin-right: var(--container-negative-margin-desktop);
    margin-left: var(--container-negative-margin-desktop);
    transform: rotate(0);
    transform-origin: bottom left;
    z-index: -1;
}

@media only screen and (max-width: 480px){
    .bottom-polygon{
        bottom: -100px;
        margin-left: var(--container-negative-margin-mobile);
        margin-right: var(--container-negative-margin-mobile);
    }
}



.portfolio-image-wrapper{
    margin-left: var(--container-negative-margin-desktop);
    margin-right: var(--container-negative-margin-desktop);
    min-width: calc(100vw - 14px);
    z-index: 0;
}

.portfolio-image-wrapper .portfolio-image{
    height: auto;
}

@media only screen and (max-width: 480px){
    .portfolio-image-wrapper{
        margin-left: var(--container-negative-margin-mobile);
        margin-right: var(--container-negative-margin-mobile);
        min-width: 100vw;
    }
}


.portfolio-info-block{
    align-items: flex-end;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-left: var(--container-negative-margin-desktop);
    margin-right: var(--container-negative-margin-desktop);
    padding-left: 30px;
    padding-right: 30px;
}

@media only screen and (max-width: 1024px){
    .portfolio-info-block{
        align-items: flex-start;
        flex-direction: column;
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media only screen and (max-width: 480px){
    .portfolio-info-block{
        margin-left: var(--container-negative-margin-mobile);
        margin-right: var(--container-negative-margin-mobile);
    }
}

.portfolio-link{
    color: #8CC4F5;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-underline-offset: 4px;
}

.portfolio-link:hover{
    color: white;
}

@media only screen and (max-width: 1024px){
    .portfolio-link{
        margin-top: 36px;
    }
}

.portfolio-heading{
    color: #8CC4F5;
    font-weight: 400;
}

.portfolio-tech-stack{
    margin-top: 6px;
    color: white;
    font-weight: 400;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 20px;
}

.text-background-block{
    background-color: #333333;
    height: 40px;
    width: fit-content;
    position: relative;
    right: 10px;
    z-index: 0;
}

.background-block{
    background-color: #333333;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: fit-content;
}

.footer-container{
    background-color: #EA549E;
    display: flex;
    height: 80vh;
    justify-content: center;
    margin-left: var(--container-negative-margin-desktop);
    margin-right: var(--container-negative-margin-desktop);
    position: relative;
}

@media only screen and (max-width: 480px){
    .footer-container{
        margin-left: var(--container-negative-margin-mobile);
        margin-right: var(--container-negative-margin-mobile);
        height: 100vh;
    }
}

.cta-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}


@media only screen and (max-width: 480px){
    .cta-container{
        margin-top: 0;
        justify-content: center;
    }
}

.cta-heading{
    font-size: 80px;
    font-weight: 700;
}

@media only screen and (max-width: 480px){
    .cta-heading{
        font-size: 56px;
        line-height: 1.1;
        padding-left: 80px;
        padding-right: 80px;
        text-align: center;
    }
}

.cta-button{
    background-color: #00FF49;
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    width: 300px;
    margin-top: 8vh;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    text-decoration: none;
}

.scroll-to-top-container{
    position: fixed;
    bottom: 20px;
    right: 24px;
    background-color: #c9ffff;
    z-index: 1;
    cursor: pointer;
}

.scroll-to-top-container:hover{
    background-color: #333333;
}

.scroll-to-top{
    display: block;
    text-decoration: none;
    height: 40px;
    width: 40px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}


.scroll-top-icon{
    padding: 10px;
    fill: #333333;
}

.scroll-top-icon:hover{
    fill: #c9ffff;
}

.scroll-top-icon:active{
    fill: pink;
}

.textBrightGreen{
    color: var(--bright-green);
}

.textPink{
    color: var(--pink);
}

.bg-color-blue-jeans{
   background-color: var(--blue-jeans);
}

.bg-color-french-sky-blue{
    background-color: var(--french-sky-blue);
 }

 .bg-color-baby-blue-eyes{
    background-color: var(--baby-blue-eyes);
 }

 .bg-color-sky-blue-crayola{
    background-color: var(--sky-blue-crayola);
 }

 .bg-color-pink{
    background-color: var(--pink);
 }