@import "../../styles/variables.css";
@import "../../styles/style.css";

.navbar-container{
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0px;
    transition: top 0.3s;
    width: 100vw;
    padding-right: var(--container-padding-desktop);
    padding-left: var(--container-padding-desktop);
    z-index: 2;
}

@media only screen and (max-width: 1024px){
    .navbar-container{
        background-color: var(--primary-color);
        justify-content: center;
        width: 100vw;
    }
}

@media only screen and (max-width: 480px){
    .navbar-container{
        margin-left: 0;
    }
}

.navbar-container-full-height{
    height: 100vh;
}

.navbar-links{
    column-gap: 3vw;
    display: flex;
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 1024px){
    .navbar-links{
        display: none;
        padding-top: 100px;
        justify-content: flex-start;
        padding-inline-start: 0;
    }
}

.nav-opened{
    display: flex;
    flex-direction: column;
}

.navbar-link-item{
    font-weight: 700;
    font-size: 18px;
    transition: font-size 0.3s, background-color 0.2s;
    background-color: var(--baby-blue-eyes);
    cursor: pointer;
}

.navbar-link-item:active{
    background-color: var(--bright-green);
}

@media only screen and (max-width: 1024px){
    .navbar-link-item{
        background-color: transparent;
        font-size: 36px;
    }
}

.navbar-at-the-top{
    font-size: 24px;
    background-color: transparent;
}

@media only screen and (max-width: 1400px){
    .navbar-at-the-top{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1024px){
    .navbar-at-the-top{
        font-size: 36px;
    }
}
.navbar-at-the-top.navbar-link-item:hover{
    background-color: transparent;
}

.navbar-at-the-top .navbar-link:hover{
    color: var(--magic-mint);
}

.navbar-at-the-top .navbar-link:active{
    color: var(--bright-green);
}

.navbar-link{
    display: block;
    color: var(--primary-text-color);
    text-decoration: none; 
    padding: 10px 20px;
    transition: color 0.25s;
}

@media only screen and (max-width: 1024px){
    .navbar-link{
        text-align: center;
    }
}

.navbar-link:hover{
    color: var(--magic-mint);
}

.navbar-link:active{
    color: var(--baby-blue-eyes);
}

.menu-button{
    cursor: pointer;
    display: none;
    width: 60px;
    height: 60px;
    background-color: var(--magic-mint);
    padding: 10px;
    border-radius: 30px;
    border: none;
    position: fixed;
    top: 30px;
    right: 30px;
    transition: top 0.4s;
}

@media only screen and (max-width: 1024px){
    .menu-button{
        display: block;
        z-index: 2;
    }
}

.menu-icon{
    stroke: var(--primary-color);
    stroke-linecap: round;
    stroke-width: 2px;
    vertical-align: top;
}

.close-button{
    display: none; 
    width: 60px;
    height: 60px;
    background-color: var(--magic-mint);
    padding: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
}

@media only screen and (max-width: 1024px){
    .close-button{
        display: block;
    }
}

.close-icon{
    stroke: var(--primary-color);
    stroke-linecap: round;
    stroke-width: 3px;
    vertical-align: top;
}

.item-hidden{
    top: -100px;
    transition: top 0.4s;
}
