@import "../../styles/variables.css";

.illustration-container{
    position: relative;
    right: 0;
    min-width: 400px;
    width: 80%;
    max-width: 100%;
}

@media only screen and (max-width: 1800px){ 
    .illustration-container{
         max-width: 500px;
         right: 0;
}   }

@media only screen and (max-width: 1400px){ 
    .illustration-container{
         right: 0;
         max-width: 400px;
    }  
}

@media only screen and (max-width: 1024px){ 
    .illustration-container{
         min-width: 240px;
         max-width: 240px;
    }  
}

@media only screen and (max-width: 480px){ 
    .illustration-container{
         position: relative;
         top: 0;
         left: 15px;
         min-width: 160px;
         max-width: 160px;
    }  
}

.illustration-base-container{
    position: relative;
    width: 100%;
    padding-top: 133.33%
}

@media only screen and (max-width: 1024px){ 
    .illustration-base-container{
        padding-top: 177.78%;
    } 
}

.illustration-base-shadow{
  position: absolute;
  background-color: var(--iceberg);
  top: 0;
  left:-14px;
  width: 100%;
  height: 100%;
  border-radius: 45px;
  z-index: -1;
}

.illustration-base{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--sky-blue-crayola);
    border-radius: 45px;
}

.base-content-container{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 45px;
    padding: 6% 5%;
}

@media only screen and (max-width: 480px){
    .base-content-container{
        padding: 16px 16px;
    }
}

.content-row{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 26%;
}

@media only screen and (max-width: 480px){
    .content-row{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 480px){
    .row-flipped-on-mobile{
        flex-direction: column;
    }
}

.content-row-justify-end{
    justify-content: flex-end;
}

.rectangle{
    border-radius: 30px;
    width: 50%;
    height: 100%;
}

@media only screen and (max-width: 480px){
    .rectangle{
        width: 100%;
    }
}

.flipped-on-mobile{
    height: 100%;
}
@media only screen and (max-width: 480px){
    .flipped-on-mobile{
        display: flex;
        position: relative;
        width: 100%;
        height: 200%;
    }
}

.circle-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 20%;
    padding-top: 20%;
}


@media only screen and (max-width: 480px){
    .circle-container{
        width: 86%;
        padding-top: 86%;
    }
}

.circle{
    background-color: chartreuse;
    border-radius: 50%;
    width: 100%;
    padding-top: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 480px){
    .not-displayed-on-mobile{
        display: none;
    }
}

.bg-color-french-sky-blue{
    background-color: var(--french-sky-blue);
 }

 .bg-color-blue-jeans{
    background-color: var(--blue-jeans);
 }

 .bg-color-baby-blue-eyes{
    background-color: var(--baby-blue-eyes);
 }