@import "../../styles/variables.css";

.tech-stack-banner-wrapper{
    background-color: #C9FFFF;
    margin-left: var(--container-negative-margin-desktop);
    margin-right: var(--container-negative-margin-desktop);
}
.tech-stack-banner-container{
    align-items: center;
    display: flex;
    position: relative;
    height: 160px;
    margin-left: var(--container-negative-margin-desktop);
    margin-right: var(--container-negative-margin-desktop);
    width: 200%;
    animation-name: infinite-carousel;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@media only screen and (max-width: 480px){
    .tech-stack-banner-container{
        margin-left: var(--container-negative-margin-mobile);
        margin-right: var(--container-negative-margin-mobile);
        width: 400%;
    }
}

.tech-stack-banner{
    display: flex;
    position: relative;
    list-style-type: none;
    justify-content: space-around;
    min-width: calc(50% + 200px);
    padding: 0;
}

@media only screen and (max-width: 480px){
    .tech-stack-banner{
        min-width: calc(50% + 40px);
    }
}

@keyframes infinite-carousel{
    from {
        left: 0;
    } to {
        left: calc(-100% - 200px);
    }
}
@media only screen and (max-width: 480px){
    @keyframes infinite-carousel{
        from {
            left: 0;
        } to {
            left: calc(-200% - 40px);
        }
    }
}

.banner-image-wrapper{
    width: auto;
    height: 80px;
    opacity: 0.8;
}

.banner-image-wrapper .image{
    object-fit: contain;
    height: 80px;
    width: auto;
}